*{
    color: black;
}
body{
    background-image: url("background/3437.jpg");
}
.containers{
    width: 700px;
    height: auto;
    margin: 100px auto;
    
}

.internet{
   
    padding: 10px;
    background-color: black;
    opacity: 0.7;
}
h2{
    color: white;
}
.start{
    padding: 10px;
    background-color: rgb(255, 182, 182);
}
.stop{
    padding: 10px;
    background-color: lightblue;
}
.minute{
    padding: 10px;
    background-color: rgba(253, 192, 255, 0.884);
}
.riel{
    padding: 10px;
    background-color: rgba(128, 231, 235, 0.548);
}
.date{
    background-color: rgb(200, 173, 230);
}
.btn-submit{
    align-content: center;
}
.btn{
    color: white;
    size: 20px;
    text-align: center;
    margin: 0 auto;
    width: 100px;
    background-color: green;
}
.btns{
    padding: 10px;
}
